In [1]:
import numpy as np
np.random.seed(42)
keg_list = np.random.normal(15.4, .2, 120)

In [10]:
import scipy.stats
scipy.stats.ttest_1samp(keg_list, 15.5)

Ttest_1sampResult(statistic=-6.856548820846662, pvalue=3.3516828482701653e-10)

TypeError: tuple indices must be integers or slices, not float

In [23]:
import pandas as pd
import numpy as pd
import scipy.stats

In [7]:
visitors = pd.Series([998832,1012285,995750],index =['LP1', 'LP2', 'LP3'])

In [8]:
registrations = pd.Series([331912,349643,320432], index=['LP1', 'LP2', 'LP3'])

In [9]:
purchases = pd.Series([18255,18531,18585], index = ['LP1','LP2','LP3'])

In [10]:
d = {'Visitors':visitors, 'Registrations':registrations, 'Purchases':purchases}

In [12]:
df = pd.DataFrame(d)

In [13]:
df.head()

     Purchases  Registrations  Visitors
LP1      18255         331912    998832
LP2      18531         349643   1012285
LP3      18585         320432    995750

In [17]:
df['Reg_Purchase'] = df['Purchases'] / df['Registrations']

In [25]:
df['Vis_reg'] = df['Registrations'] / df['Visitors']

In [26]:
df.head()

     Purchases  Registrations  Visitors  Reg_Purchase  Vis_purchase  Vis_reg
LP1      18255         331912    998832         0.055      0.018276   0.3323
LP2      18531         349643   1012285         0.053      0.018306   0.3454
LP3      18585         320432    995750         0.058      0.018664   0.3218

In [30]:
pages = df.index
reg_pur = []
vis_reg = []
for x in pages:
    scipy.stats.ttest_ind()

LP1
LP2
LP3

Index(['LP1', 'LP2', 'LP3'], dtype='object')

In [ ]:
##1 determin Null hypothisis
## determin signifigance value - the alpha (ciritical value)
## determin test
##calculate p value
## decide if to reject

##Two sample test statistic

##The means of populations will follow a normal distribution according to central limit theorm

##Issue with running multiple t tests- our signifigance level actually increases expodentially
#to correct we could us bonforoni

#Chi -2 comparing data to expected outcome.

## p value is the probability of a given result
##Type 1 is regjecting the null incorrectly, Type two is failure to reject the null correctly